*.pyc
*.log
cats.egg-info/
.vscode/
.pytest_cache/
examples/test.fits
examples/noise_zero/
examples/noise_1/
examples/noise_5/
examples/stellar.html
examples/*.sme

data/
*.fits
*.npy

*.html
*.png
*.yaml
*.npz
spectrum.sme
dump.bin
uioenvfile.txt

crires_data_challenge/
