*.pyc
*.log
cats.egg-info/
.vscode/
.pytest_cache/
examples/test.fits
examples/noise_zero/
examples/noise_1/
examples/noise_5/
examples/stellar.html
examples/*.sme

*.npy
*.ipynb
*.html
*.png
*.yaml
*.npz
spectrum.sme
dump.bin
uioenvfile.txt

crires_data_challenge/*/*
crires_data_challenge/HD209458_additional_data.csv
crires_data_challenge/pictures.tar.gz
crires_data_challenge/planet_extracted.zip
datasets/
*.flex
