*.pyc
*.log
cats.egg-info/
.vscode/
.pytest_cache/
examples/test.fits
examples/transit/
examples/extract_transit/
examples/noise_zero/
examples/extract_noise_zero/
examples/stellar.html
examples/hd209458.sme
data/
*.fits
*.npy
examples/noise_1/
*.html
*.png
*.yaml
*.npz
spectrum.sme
dump.bin
uioenvfile.txt
examples/noise_5/crires_h_1_4.lin
