numpy
scipy
astropy
matplotlib
pytest
tqdm
specutils
astroplan
batman-package
corner
emcee
flex-format
plotly
# petitradtrans
git@gitlab.com:mauricemolli/petitRADTRANS.git
git+https://github.com/AWehrhahn/datasources
git+https://github.com/AWehrhahn/ExoOrbits
